* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif
}

.title {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    gap: 10px
}

#todo input {
    width: 200px;
    height: 35px;
    padding: 10px
}

#todo .addTask {
    width: 100px;
    height: 35px;
}

.board {
    margin-top: 10px;
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    gap: 10px;
}

#todo-container,
#progress-container,
#done-container {
    color: rgb(0, 0, 0);
    flex: 1;
    text-align: start;
    padding: 0;
    min-height: 470px;
    background-color: rgb(230, 220, 200);
    border: 1px solid rgb(230, 220, 200);
    border-radius: 7px;
}

#todo-container h3,
#progress-container h3,
#done-container h3 {
    border: 1px solid rgb(120, 0, 0);
    padding: 5px; 
    padding-bottom: 2.2px;
    margin: 0px;
    text-align: center;
    background: rgb(120, 0, 0);
    color: rgb(230, 220, 200);
}

#todo-container p,
#progress-container p,
#done-container p {
    margin: 10px;
    margin-top: 10px;
    color: rgb(80, 0, 0);
    border: 2px solid rgb(120, 0, 0);
    padding: 10px
}